
//	<span class="ginf-dripping-tube" style="color:lightgreen;text-shadow:2px 2px 4px darkgreen;font-size:2em"> </span>
<p><span style="font-size: 1.1em"><strong>Elemental Spell:</strong> mix [[50]]/[[50]]% normal energy with, or [[100]]% of </span><span class="ginf-dripping-tube" style="color:lightgreen;text-shadow:2px 2px 4px darkgreen;font-size:1.1em"> Acid</span>.</p>

//	<span class="ginf-snowflake-1" style="color:lightblue;text-shadow:2px 2px 4px aliceblue;font-size:2em"> </span>
<p><span style="font-size: 1.1em"><strong>Elemental Spell:</strong> mix [[50]]/[[50]]% normal energy with, or [[100]]% of </span><span class="ginf-snowflake-1" style="color:lightblue;text-shadow:2px 2px 4px aliceblue;font-size:1.1em"> Cold</span>.</p>

//	<span class="ginf-electric" style="color:yellow;text-shadow:2px 2px 4 px dimgray;font-size:2em"> </span>
<p><span style="font-size: 1.1em"><strong>Elemental Spell:</strong> mix [[50]]/[[50]]% normal energy with, or [[100]]% of </span><span class="ginf-electric" style="color:yellow;text-shadow:2px 2px 4 px dimgray;font-size:1.1em"> Electricity</span>.</p>

//	<span class="ginf-small-fire" style="color:darkorange;text-shadow:2px 2px 4px darkred;font-size:2em"> </span>
<p><span style="font-size: 1.1em"><strong>Elemental Spell:</strong> mix [[50]]/[[50]]% normal energy with, or [[100]]% of </span><span class="ginf-small-fire" style="color:darkorange;text-shadow:2px 2px 4px darkred;font-size:1.1em"> Fire</span>.</p>
